---
import Title from "../Title.astro";
import Card from "./components/Card.astro";
import InlazeMovies from "../../../../assets/portfolio/inlaze-movies.jpg";
import InlazeMovies2 from "../../../../assets/portfolio/inlaze-movies.png";

import { type Projects } from "./cardTypes";

const projects: Projects[] = [
  {
    id: 1,
    title: "Inzale Movies",
    content:
      "Proyecto fullstack, elaborado para una prueba técnica. Aplicación web de peliculas de cine consumiendo Api TMDB.",
    date: "Agosto - 2024",
    image: InlazeMovies.src,
    techs: ["HTML", "CSS", "JavaScript", "React", "NextJS"],
    link: "https://inlaze-movies-web-site.vercel.app/",
  },
  {
    id: 2,
    title: "Autobuses de Colombia",
    content:
      "Pagina web, destinada a compartir fotografias de aficionados a los autobuses que recorren las carreteras de Colombia.",
    date: "Agosto - 2024",
    image: InlazeMovies2.src,
    techs: ["HTML", "CSS", "JavaScript", "React", "NextJS"],
    link: "",
  },
];
---

<section class="w-full max-w-maxwidth" id="portfolio">
  <Title title="Portafolio" />
  <div class="grid grid-cols-1 md:grid-cols-2 gap-3 mx-5">
    {
      projects.map((project) => {
        return (
          <Card
            title={project.title}
            date={project.date}
            content={project.content}
            image={project.image}
            link={project.link}
            techs={project.techs}
          />
        );
      })
    }
  </div>
</section>
