---
import GitHub from "../../assets/tech-logos/github-logo.svg";
import Html from "../../assets/tech-logos/html.svg";
import Css from "../../assets/tech-logos/css.svg";
import JavaScript from "../../assets/tech-logos/javascript.svg";
import TypeScript from "../../assets/tech-logos/typescript.svg";
import NodeJs from "../../assets/tech-logos/nodejs.svg";
import React from "../../assets/tech-logos/react.svg";
import NextJS from "../../assets/tech-logos/nextjs.svg";
import NestJS from "../../assets/tech-logos/nestjs.svg";
import AstroLogo from "../../assets/tech-logos/astro.svg";
import Postgresql from "../../assets/tech-logos/postgresql.svg";
import Redis from "../../assets/tech-logos/redis.svg";

import "./carousel.css";
---

<div class="logos">
  <div class="logos-slide">
    <img src={GitHub.src} alt="github" />
    <img src={Html.src} alt="html" />
    <img src={Css.src} alt="css" />
    <img src={JavaScript.src} alt="javascript" />
    <img src={TypeScript.src} alt="typescript" />
    <img src={NodeJs.src} alt="nodejs" />
    <img src={React.src} alt="react" />
    <img src={NextJS.src} alt="nextjs" />
    <img src={NestJS.src} alt="nestjs" />
    <img src={Postgresql.src} alt="postgresql" />
    <img src={AstroLogo.src} alt="astro" />
    <img src={Redis.src} alt="redis" />
    <img src={GitHub.src} alt="github" />
    <img src={Html.src} alt="html" />
    <img src={Css.src} alt="css" />
    <img src={JavaScript.src} alt="javascript" />
    <img src={TypeScript.src} alt="typescript" />
    <img src={NodeJs.src} alt="nodejs" />
    <img src={React.src} alt="react" />
    <img src={NextJS.src} alt="nextjs" />
    <img src={NestJS.src} alt="nestjs" />
    <img src={Postgresql.src} alt="postgresql" />
    <img src={AstroLogo.src} alt="astro" />
    <img src={Redis.src} alt="redis" />
  </div>
</div>
